<p>
  <strong>Title:</strong>
  <%= @trip.title %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @leader.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @trip.price %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @trip.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @trip.end_date %>
</p>

<%= link_to 'Sign Up', new_trip_attendee_path(@trip), class: 'btn btn-default' %> <br>

<%= link_to 'Back', trips_path %> <br>

<% if @trip_attendees.any? %>
  <h3>Attendees</h3>
  <ul>
    <% @trip_attendees.each do |attendee| %>
      <li><%= attendee.name %></li>
    <% end %>
  </ul>
<% end %>


