<% provide(:title, @leader.name) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leader.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @leader.email %>
</p>

<p>
	<strong>Phone:</strong>
	<%= number_to_phone(@leader.phone, area_code: true) %>
</p>

<%= link_to 'Back', leaders_path %>
