<%= form_for(@attendee, url: trip_attendees_path, html: {id: "payment-form"}) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@attendee.errors.count, "error") %>
      </div>
      <ul>
      <% @attendee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <script
    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-key="pk_test_To6xtnnLr2Ns3JUAwb5RkDK8"
    data-amount="#{@trip.price*100}"
    data-name="Ventura"
    data-description="Ventura trip"
    data-currency="usd"
    data-label="Complete Registration"
    data-allow-remember-me="false">
  </script>


<% end %>