
<%= form_for(@attendee, url: trip_attendees_path, html: {id: "payment-form"}) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@attendee.errors.count, "error") %>
      </div>
      <ul>
      <% @attendee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %><br>
    <small>We're only asking for this in case we need to text you trip updates.</small><br>
    <%= f.text_field :phone, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :amount %><br>
    <small>This generous trip leader is using a "pay what you want" format, so enter what you think this is worth.</small><br>
    <%= text_field_tag :amount, nil, id: "amount-id" %>
  </div>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <%= text_field_tag :number %>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <%= text_field_tag :cvc %>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <%= text_field_tag :exp_month %>
    </label>
    <span> / </span>
      <%= text_field_tag :exp_year %>
  </div>


<% end %>