<script>
    $( function() {
      $("input.phone_number").formance("format_phone_number"); // setup the formatter
      $("input.email").formance('validate_email');  // true
      $('input.credit_card_number').formance('format_credit_card_number');
      $('input.credit_card_cvc').formance('format_credit_card_cvc');
      $('input.credit_card_expiry').formance('format_credit_card_expiry'); 

    });
</script>

<%= form_for(@attendee, url: trip_attendees_path, html: {id: "payment-form"}) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@attendee.errors.count, "error") %>
      </div>
      <ul>
      <% @attendee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :email %>

  <%= hidden_field_tag :token %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control email" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %><br>
    <small>We're only asking for this in case we need to text you trip updates.</small><br>
    <%= f.text_field :phone, class: "form-control phone_number" %>
  </div>

  <div class="form-group">
    <% if @trip.custom? %>
      <%= f.label :amount, "Pay What You Want Amount" %><br>
      <small>This generous trip leader is using a "pay what you want" format, so enter what you think this is worth.</small><br>
      <%= text_field_tag :amount, nil, id: "amount-id" %>
    <% else %>
      <%= hidden_field_tag :amount, @trip.price*100  %>
    <% end %>
  </div>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <%= text_field_tag :number, nil, :class => "credit_card_number" %>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <%= text_field_tag :cvc, nil, :class => "credit_card_cvc" %>
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
      <%= text_field_tag :exp_month_and_year, nil, :class => "credit_card_expiry" %>
  </div>

  <%= f.submit "Sign me up!" %>

<% end %>