<%= form_for(@attendee, url: trip_attendees_path, html: {id: "payment-form"}) do |f| %>
  <% if @attendee.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
        The form contains <%= pluralize(@attendee.errors.count, "error") %>
      </div>
      <ul>
      <% @attendee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :email %>
  <%= hidden_field_tag :token %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control email" %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <p style="display: inline-block; float: right; font-size: 0.7em;">*We're only asking for your number in case we need to text you trip updates.</p>
    <%= f.text_field :phone, class: "form-control phone_number" %>
  </div>

  <div class="form-group">
    <% if @trip.custom? %>
      <h4>Pay What You Want Amount</h4>
      <small>This generous trip leader is using a "Pay What You Want" format, so enter what you think this is worth.</small>
    <% end %>
  </div>

  <div class="form-group">
    <div class="col-md-8" style="padding: 0.2em;">
      <label>Card Number</label>
      <%= text_field_tag :number, nil, :class => "credit_card_number form-control" %>
    </div>
    <div class="col-md-4" style="padding: 0.2em;">
      <label>Price</label>
      <% if @trip.custom? %>
        <%= text_field_tag :amount, nil, :class => "form-control" %>
      <% else %>
        <%= text_field_tag :amount, "$#{@trip.price}.00" , disabled: true, :class => "form-control" %>
        <%= hidden_field_tag :amount, @trip.price*100 %>
      <% end %>
    </div>
  </div>

  <div class="form-row">
    <div class="col-md-4" style="padding: 0.2em;">
      <label>Expiration Date</label>
      <%= text_field_tag :credit_card_expiry, nil, :class => "credit_card_expiry form-control", :placeholder => "MM / YYYY" %>
    </div>
    <div class="col-md-4" style="padding: 0.2em;">
      <label>CVC</label>
      <%= text_field_tag :cvc, nil, :class => "credit_card_cvc form-control" %>
    </div>
  </div>

  <%= f.submit "Sign me up!", :class => "btn btn-success btn-lg", :style => "width: 100%;" %>

<% end %>

