<h1>First Sign Up!</h1>

<p>Congratulations <%= @attendee.trip.get_leader.name %>!  <%= @attendee.email %> has signed up for your trip: <%= @attendee.trip.title %>.  You can find the contact information of your participants in the "current list of attendees" below. With each new sign up, we'll email an updated version with the current list.</p>

<p>We've sent an initial email to your participants, but the trip is all yours from here. Please be in contact with them shortly (roughly 1-2 weeks out for early birds and as soon as they sign up for the late ones) to coordinate all trip details. Your email should include details such as meeting location, how to find you at that location, what to wear, essentials to bring (like water), required gear, etc. We've attached a basic camping checklist for your convenience.  Please copy us</p>

<p>Before starting any part of your trip, please have your participants sign the attached liability wavers which protects both you and Vestigo from liability in the absence of trip leader negligence. Please bring a first aid kit and use your training to appropriately address any medical situation in the unlikely event of an accident.</p> 

<p>Thanks for sharing your passion for the outdoors! We're excited for you, and wish you the best on your trip! If you have any questions, let us know at issues@vestigo.co.</p>

<h3>Current list of attendees:</h3>

<ul>
	<% @attendee.trip.attendees.each do |attendee| %>
		<li><%= attendee.name %> - <%= attendee.email %>
	<% end %>
</ul>

<p>Love,</p>

<p><strong>Vestigo Bot</strong></p>  

